.categories{
    display: flex;
    flex-direction: row ;
    justify-content: space-evenly;
    
}
.productlist{
    padding-top: 25px;
}
.buttoncategory{
    width: 100px;
    height: 100px;
}
.productlist{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}